<!--
    This Source Code Form is subject to the terms of the GNU General Public License:
 
    Copyright (C) 2021-2022 OpenBotList Foundation

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
<html lang="en">
  <%-include("./head.ejs", {title: "Bots - OpenBotList Preview", description: "See the Bots that are currently being listed on OBL"})%>
  
  <body class="bg-gradient-to-r from-violet-300 to-violet-400">
    <%-include("./nav.ejs", {})%>

    <div
    class="container max-w-lg px-4 py-32 mx-auto mt-12 text-left md:max-w-none md:text-center"
  >
    <h1
      class="text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 md:text-center sm:leading-none md:text-6xl lg:text-7xl"
    >
      <span class="inline md:block text-white" style="font-family:Inter,sans-serif">OpenBotList</span>
    </h1>
    <div class="mt-4 text-2xl font-bold text-white">
      <p> Discover some bots lol </p>
      </div>

    <section class="mx-12 mt-8 grid grid-cols-4 gap-4 bg-gradient-to-r from-violet-300 to-violet-400 rounded-lg">
      <% currentBots.filter(x => x.approved == true).forEach(function(bot) { %>
      <div class="mb-8 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md mt-6 mx-6">
        <div class="flex justify-end px-4 pt-4">
            <button style="display: none;" class="hidden sm:inline-block text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg text-sm p-1.5" type="button">
                 
            </button>
        </div>
        <div class="flex flex-col items-center pb-10">
            <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="https://www.memecreator.org/static/images/memes/5331753.jpg" alt="the best placeholder ever"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900"><%= bot.name %> (<%= bot.prefix %>)</h5>
            <span class="text-sm text-gray-500 mx-4"><%= bot.shortDesc %></span>
            <div class="flex mt-4 space-x-3 lg:mt-6">
                <a target="_blank" href="https://discord.com/oauth2/authorize?client_id=<%= bot.id %>&scope=bot%20applications.commands&perms=8" class="hover:animate-pulse inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to Discord</a>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200">Vote</a>
            </div>
        </div>
    </div>
        <% }); %>

  
    </section>

    </body>
    
    </html>
