<!--
    This Source Code Form is subject to the terms of the GNU General Public License:
 
    Copyright (C) 2021-2022 OpenBotList Foundation

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to OBL!</title>
    <link rel="icon" href="/static/logos/obl-alt.svg"/>
    <!-- open graph tags -->
     <meta property="og:title" content="OpenBotList" />
    <meta property="twitter:description" content="Its time to ditch Top.gg! OpenBotList is an open source botlist for Discord, Revolt, Telegram and Guilded. We also have sex" />   
    <meta content="https://cdn.glitch.com/20fa5251-77f5-4a4c-b8a3-330e4a4369ef/obl-banner-png" property="og:image">
    <meta content="summary_large_image" name="twitter:card">
     <!-- css -->       
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.3/dist/full.css" rel="stylesheet" type="text/css" />
    <!-- JS -->
    <script src="/static/improve/atb.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/tailwind.js"></script>
    <noscript><link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet"></noscript>   <!-- no script for tailwind -->
  </head>
  
      <div class="mx-8">
    <%- include("./components/Nav.ejs") %>
  </div>

  <body>
    
    <div class="grid place-items-center mt-16 mb-36 ">
      <div class="indicator">
        <h1 class="font-bold text-7xl">OpenBotList</h1><br /><br />
        <span class="indicator-item badge badge-primary">PUBLIC BETA!!</span>
      </div>
        <p>"Cum" -Voltrex 2022</p>
      
      <script>
        document.write('<input id="search" type="text" placeholder="Search some bots lol" class=" mt-4 input input-bordered w-full max-w-4xl" />')
      </script>
      <noscript>
       <p>
         our search function doesnt work whitout js yet
        </p>
      </noscript>
<hr>
      
    </div class="">
    
    <div class="mx-16 mb-8 grid gap-x-8 gap-y-4 grid-cols-3" style="display:flex; flex-wrap:wrap; justify-content:center;">
      <% currentBots.filter(x => x.approved).forEach(function(bot) { %>     
  		<!-- card start -->
      <div class="bots card w-96 bg-base-100 shadow-xl">
        <figure class="px-10 pt-10">
          <img src="<%= bot.avatarURL %>" alt="bot" class="mask mask-squircle" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title"><%= bot.name %></h2>
          <p><%= bot.shortDesc %></p>
          <div class="card-actions">
            <a href="https://discord.com/oauth2/authorize?client_id=<%= bot.id %>&scope=bot%20applications.commands&perms=">
				<button class="btn btn-primary">Add to Discord</button>
			</a>
          </div>
        </div>
        </div>
	  <!-- card end -->
                <% }); %>  
                  </div>
               <script src="/static/js/search.js"></script>
        </body>
</html>
